.footer {
  display: flex;
  justify-content: end;
  position: fixed;
  bottom: 0;
  left: 0;
  width: -webkit-fill-available;
  padding: 15px 20px;
  text-align: center;
  background: white;
  z-index: 999;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.08);
  @media (max-width: 768px) {
    justify-content: center;
    .footerButton {
      width: 100%;
    }
  }
}
