@use "../../../../styles/variables" as *;

.sidebarWrapper {
  //   padding: 1rem;
  display: flex;
  flex-direction: column;
  //   gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  color: $primary;
  cursor: pointer;

  .sidebarLabel {
    // border-left: 3px solid $primary;
    padding: 0.7rem;
    color: $darkPrimary !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 10rem;
  }
  .selected--tab {
    border-left: 3px solid $primary;
    font-weight: 800;
    color: $primary !important;
  }
  .tabs--incomplete {
    color: $baseGray !important;
  }
}
